<div class="blockName">
  <h2> Latest Releases</h2>
</div>
<div class="movieContainer">
  <div class="movieBlock" *ngFor="let movie of totalDb.results" (click)="detailMovie($event)">
    <img class="movieImg" src="{{imgSrc+movie.poster_path}}" alt="{{movie.title}}" id="{{movie.id}}"/>
    <p class="movieTitle">{{movie.title}}</p>
  </div>
</div>
<div class="paginationContainer">
  <button class="firstBtn buttonPag">First</button>
  <button class="prevBtn buttonPag">Prev</button>
  <button class="nextBtn buttonPag">Next</button>
  <button class="lastBtn buttonPag">Last</button>
</div>


