<div class="blockName">
  <h2> Latest Releases</h2>
</div>
<div class="movieContainer">
  <div class="movieBlock" *ngFor="let movie of totalDb.results" (click)="detailMovie($event)">
    <img class="movieImg" src="{{imgUrl + movie.poster_path}}" alt="{{movie.title}}" id="{{movie.id}}"/>
    <p class="movieTitle">{{movie.title}}</p>
  </div>
</div>
<div class="paginationContainer">
  <button class="firstBtn buttonPag" (click)="firstPage()">First</button>
  <button class="prevBtn buttonPag" (click)="prevPage()">Prev</button>
  <!--  <button class="paginBtn buttonPag" (click)="paginBtn()">{{}}</button>-->
  <button class="nextBtn buttonPag" (click)="nextPage()">Next</button>
  <button class="lastBtn buttonPag" (click)="lastPage()">Last</button>
</div>


