.detailMovieBackImgWrapper {
  position: relative;
}

.detailMovieContainerImg {
  position: absolute;
  -webkit-filter: blur(5px);
  filter: blur(7px);
  width: 100%;
  top: -150px;
  right: 0;
  left: 0;
  bottom: 0;
}

.detailMovieContainer {
  display: flex;
  margin: 150px;
}

.detailMovieButtonBack, .detailMovieButtonNext {
  color: black;
  position: absolute;
  z-index: 2;
  top: -100px;
  display: flex;
  align-items: center;
}

.detailMovieButtonBack {
  left: 100px;
}

.detailMovieButtonNext {
  left: 1200px;
}

.detailMovieImage {
  z-index: 2;
}

.detailMovieBlock {
  margin-left: 50px;
  margin-top: 100px;
  position: relative;
  color: #fffffd;
}

.detailMovieName {
  font-size: 3em;
  margin-bottom: 25px;
}

.addFavoriteBtn {
  position: absolute;
  top: -50px;
  left: 85%;
  width: 120px;
  height: 30px;
  text-align: center;
  padding: 5px;
  color: #fffffd;
  border: 1px solid #fffffd;
  border-radius: 5%;
}

.addFavoriteBtn:hover {
  box-shadow: 0 0 5px grey;
}

.detailMovieInfoBlock {
  display: flex;
  flex-direction: row;
}

.detailMovieInfo {
  font-size: 1.5em;
}

.detailMovieInfo + .detailMovieInfo {
  margin-left: 10px;
}

.detailMovieInfo:nth-child(2) {
  border-right: 1px solid #fffffd;
  border-left: 1px solid #fffffd;
  padding: 0 10px;
}

.detailMovieOverview {
  border-top: 1px solid #fffffd;
  border-bottom: 1px solid #fffffd;
  margin-top: 40px;
  padding: 20px 0;
}

.inActive {
  display: none;
}
